.custom__menu{
    background-color: transparent;
    border: none;
    font-family: MuseoSans, Helvetica;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    appearance: none;
    width: 100%;
}

.custom__control{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    appearance: none;
    width: 100%;
}

.description-box{
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 10px !important;
    line-height: 24px;
    padding: 10px;
}

#root > div > div > form > div.input-wrapper > div.description-box > div > div > span > {
    font-size: 10px !important;
}
