@import 'responsive' ;

@mixin  set-font-size($mobile,$desktop) {
     @include mobile-view(){
         font-size: $mobile !important;
     }
     @include tablet-view(900px,3000px){
         font-size: $desktop !important;
     }
}

div.product-page{
    header.page-header{
        &>div{
            @include mobile-view(){
               flex-direction: column;
            }  
         div.header-text-wrapper{
             div.shadow-box{
                 width: 84%;
                 box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
                              0px 5px 10px rgba(0,0,0,0.2)
                 ;
                 border-radius: 30px;
                 @include mobile-view(){ 
                    width: 100%;
                    margin-left: 0 !important;
                 }
             }
              h5{
                 font-size: 1.1rem !important;
                 color: rgb(7, 1, 68);
                 font-weight: 900;
                 @include mobile-view(){               
                  font-size: 1rem !important;
                  }  
                 strong{
                    color: rgb(0, 194, 32);
                 }
              }
              h5.mt-3{
                  @include set-font-size(0.64rem,0.55rem ) ;
                  @include mobile-view(){ display: none; }
                  font-weight: 400;
                  color: rgb(0,0,0);
                  img{
                      height: 40px;
                      width: 120px;
                  }
              }
              p{
                 font-size: 0.6rem !important;
                 color: rgb(119, 118, 118);
              }
              form{
                 div.input-group{                      
                    border-radius: 20px;        
                    box-shadow: 2px 2px 10px rgba(0,0,0,0.2) , -1px -1px 4px rgba(0,0,0,0.1);
                    @include mobile-view(){
                      margin-left: auto;
                      margin-right: auto;
                      width: 96%;
                   }  
                    input{
                       border: none;
                       @include mobile-view(){               
                        font-size: 0.6rem !important;
                        } 
                       &:hover,&:focus{
                          border: none;
                       }
                    }
                    .input-group-text{
                       background: rgb(255,255,255);   
                       border: none; 
                       font-size: 0.48rem !important; 
                       span{                        
                          color: rgb(255,255,255);
                          padding: 6px 20px;
                          background: rgb(0, 194, 32);
                          font-size: inherit !important; 
                          border-radius: 20px;
                       }               
                    }
                    .sp-1{
                        border-bottom-left-radius: 20px;
                        border-top-left-radius: 20px;
                    }
                    .sp-2{
                     border-bottom-right-radius: 20px;
                     border-top-right-radius: 20px;
                    }
                 }
              }
              div.mt-2{
                 span,a{
                    font-size: 0.47rem !important;
                    @include mobile-view(){
                       font-size: 0.6rem !important;
                    }  
                 }
                 a{ 
                    border-radius: 20px;
                    &:hover{ background: rgb(219, 219, 219); } 
                  }
              }
         }
         div.image-wrapper{
            z-index: -1;
             @include tablet-view(900px,5000px){
               margin-left: -200px;
             }
            img{
               height: 500px;
               width: 750px;
               @include mobile-view(){
                  height: 360px;
                  width: 100%;
                  margin-top: -130px;
               }  
            }
         }
      }
     }
     div.as-seen-in{
      h5{   
         font-size: 0.5rem !important;
         color: rgb(179, 179, 179);
         @include mobile-view(){
            font-size: 0.6rem !important;
          }  
      }
      div.d-flex{
         @include mobile-view(){
             flex-wrap: wrap;
          } 
         img{
            width: 140px;
            height: 50px; 
            @include mobile-view(){
               width: 35%;
               height: 40px;
               margin-top: 1rem;
             }           
         }
      }
  }
     div.save-more{
      &>div{
         @include mobile-view(){
            margin-top: 1rem;
         }
          img{
             display: block;
             height: 60px;
             width: 60px;
             background-repeat: no-repeat;            
             margin-left: auto;
             margin-right: auto;
          }
         
         h5{
            margin-top: 15px;
            text-align: center;
            @include tablet-view(900px,2000px){ font-size: 0.6rem !important; }
         }
         p{
            text-align: center;
            @include tablet-view(900px,2000px){ font-size: 0.48rem !important; }
            opacity: 0.8;
         }
      }
   }
   div.browse-items{
      h5{
         @include set-font-size(0.9rem,0.9rem ) ;
         color: rgb(0, 194, 32);
      }
      div.row{
          div.col-12{
             &>div{
                width: 94%;                
                img{
                   height: 220px;
                   border-radius: 10px;
                }
                p{
                   span{
                      @include set-font-size(0.61rem,0.5rem ) ;
                      color: rgba(0,0,0,0.8);
                      i{ 
                          color: rgb(233, 210, 7);
                          @include set-font-size(0.6rem,0.48rem ) ;
                        }
                   }
                }
                h6{
                  @include set-font-size(0.64rem,0.48rem ) ;
                }
                p.price{
                  @include set-font-size(0.61rem,0.47rem ) ;
                  color: rgb(0, 194, 32);                 
                }
             }
          }
      }
      button.btn{
         @include set-font-size(0.6rem,00.48rem ); 
         border-radius: 30px;
         width: 350px;
         border: none;
         background: rgb(1, 177, 30);
         color: rgb(255, 255, 255);
         @include mobile-view(){ width: 280px; }             
       }
   }  
   div.categories{
      h5{
         color: rgb(0, 194, 32);
         font-weight: 600;
      }
      div.row{
         div.col-6{
            @include tablet-view(600px,3000px){
               width: 20% !important;
            }
            a{                            
                img{
                   height: 150px;
                   object-fit: cover;
                   border-top-left-radius: 20px;
                   border-top-right-radius: 20px;
                }
                p{
                   color: rgb(104, 104, 104);
                   border-top: none !important;
                   border-bottom-left-radius: 20px;
                   border-bottom-right-radius: 20px;
                   text-align: center;
                   font-size: 0.45rem !important;
                   @include mobile-view(600px){
                      font-size: 0.6rem !important;
                  }
                }
            }
         }
      }
   } 
   
   div.access-everything{
      @include mobile-view(){      
         margin-top: 9rem !important;
      }
    &>div{
       @include mobile-view(){
          flex-direction: column;   
          margin-top: -2px !important;         
       }
      background: rgb(44, 203, 187);
         img{
             height: 600px;
             width: 650px;
             margin-top: -9rem;
             @include mobile-view(){
               height: 400px;
               width: 360px;
               margin-top: -13rem;
               margin-left: -30px;
            }
         }
         div.align-self-center{
            color: rgb(255,255,255);        
            @include mobile-view(){
              align-self: flex-start !important;
              margin-top: 0 ;
           } 
             h5{
                font-weight: 600;
                font-size: 0.9rem !important;
             }
             p{
                font-size: 0.5rem !important;
                @include mobile-view(){
                   font-size: 0.62rem !important;     
                 } 
             }
             a{
                color: rgb(0, 194, 32);
                font-size: 0.5rem !important;
                @include mobile-view(){
                   font-size: 0.62rem !important;   
                   margin-bottom: 60px;  
                 } 
             }
         }
    }
  }
   div.explore-other-options{
      background: rgb(44, 203, 187);
      color: rgb(255,255,255);
      margin-top: -9rem;
      @include mobile-view(){ margin-top: -6rem }
      h5{
          @include set-font-size(0.8rem, 00.8rem) ;  
      }
      ul{
          li{
              list-style: none;
              @include set-font-size(0.62rem, 00.48rem) ;                         
          }
      }
      div.why-rent-with-us{
         width: 60%;
         @include mobile-view(){
             width: 100%;
         }
         h6{
             @include set-font-size(0.62rem, 00.5rem) ; 
             &:hover{ cursor: pointer; }
             span{  font-size: inherit !important; }
             i{ 
                 @include set-font-size(0.55rem, 00.45rem) ; 
              }
         }
         div{
             @include set-font-size(0.6rem, 00.45rem) ; 
             opacity: 0.85;
             margin-left: 0.5rem;
         }
     }
  }
}